@import 'styles/shared';

.container {
  width: 600px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

.title {
  font-size: 36px;

  &__main {
    font-size: 48px;
  }
}

.error {
  font-size: 24px;
  color: red;
  margin-bottom: 50px;
}
